div.page-logo {overflow: visible;}
img.logo-default {
    max-height: 150px;
    height: 100px;
}
.create{background-color:#36c6d3}
.truncate-txhash, .truncate-addrhash{
    white-space:nowrap; 
    overflow:hidden;
    text-overflow: ellipsis;
    max-width:220px;
}
.truncate-addrhash {
    max-width:200px;   
}
.scrollable {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#table_txs td, #table_internal_txs td {
    font-size: 12px;
    white-space:nowrap; 
    overflow:hidden;
    text-overflow: ellipsis;
}
.eth-stat {
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #7f90a4;
}
.eth-stat-title {
    font-size: 25px;
    text-align: center;
}
.eth-stat-text {
    color: #5b9bd1;
    font-size: 13px;
    font-weight: 800;
    text-align: center;
}
.fade {opacity: 0.6}
.portlet {
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
    border-radius: 4px;
}
.portlet.light {
    padding: 12px 20px 15px;
    background-color: #fff;
}
.home-tx{
    font-size: 12px;
    white-space:nowrap; 
    overflow:hidden;
    text-overflow: ellipsis;
}
.page-404 {text-align: center;}
.page-404 .number {
    position: relative;
    top: 20px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: right;
    letter-spacing: -10px;
    line-height: 128px;
    font-size: 128px;
    font-weight: 300;
}
.page-404 .details {
    margin-left: 40px;
    display: inline-block;
    text-align: left;
}
pre {
    margin-top: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre.code-js, .verified{
    max-height: 200px; 
}
.code {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 13px;
}
i.verified:before{
  content:"\f1ce"
}
.page-logo a {
    text-decoration: none;
}
tr.ng-scope {
    white-space: nowrap;
}
li.ng-scope {
    width: calc(100% - 16px);
}
.table-scrollable {
    margin: 0 !important;
}
@media(max-width: 487px) {
    .container {
        margin: 0 !important;
    }
    .page-header .page-header-top .menu-toggler {
        margin: 33px 3px 0 0;
    }
}
::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}
::-webkit-scrollbar-button {
    height: 0px;
    width: 0px;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
    height: 0px;
    width: 0px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(68, 77, 88, 0.27);
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}




select::-ms-expand{display:none;}
button::-moz-focus-inner{padding:0;border:0;}
input::-ms-clear{display:none;}
input:-ms-clear{display:none;}
input::-ms-reveal{display:none;}
input:-ms-reveal{display:none;}
input::-webkit-input-placeholder{-webkit-text-fill-color:#9387fd;color:#9387fd;}
input:-moz-placeholder{-webkit-text-fill-color:#9387fd;color:#9387fd;}
input::-moz-placeholder{-webkit-text-fill-color:#9387fd;color:#9387fd;}
input:-ms-input-placeholder{-webkit-text-fill-color:#9387fd;color:#9387fd;}
input::placeholder{-webkit-text-fill-color:#9387fd;color:#9387fd;}
.page-header .page-header-menu, .page-header .page-header-top{
background:#33f3ca;
background:-moz-linear-gradient(left, #33f3ca 0%, #75baff 50%, #b591ff 100%);
background:-webkit-linear-gradient(left, #33f3ca 0%,#75baff 50%,#b591ff 100%);
background:linear-gradient(to right, #33f3ca 0%,#75baff 50%,#b591ff 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33f3ca', endColorstr='#b591ff',GradientType=1);
}
.page-header .page-header-top .page-logo{margin-top:1.131vh;height:auto;z-index:5;}
.page-header .page-header-menu{border:none;}
.page-logo a{display:block;}
img.logo-default{width:252px;height:auto;}
.btn{color:#fff;}
.btn.focus, .btn:focus, .btn:hover{color:#fff;}
.form-control{border:none;}

.btn.btn-med{color:#00c097;}
.btn.btn-med.focus, .btn.btn-med:focus, .btn.btn-med:hover{color:#00c097;}

.btn.menu-toggler.btn-sm.btn-outline{color:#fff;border-color:#fff;background-color:transparent;opacity:1;}
.btn.menu-toggler.btn-sm.btn-outline:hover, .btn.menu-toggler.btn-sm.btn-outline:focus, .btn.menu-toggler.btn-sm.btn-outline.focus{background-color:rgba(255,255,255,0.1);border-color:#fff;}

.page-header .page-header-menu .hor-menu .navbar-nav>li.active>a, .page-header .page-header-menu .hor-menu .navbar-nav>li.active>a:hover,
.page-header .page-header-menu .hor-menu .navbar-nav>li.current>a, .page-header .page-header-menu .hor-menu .navbar-nav>li.current>a:hover{border-bottom-color:#141c2c;}
.page-header .page-header-menu .hor-menu .navbar-nav>li.active>a, .page-header .page-header-menu .hor-menu .navbar-nav>li.active>a:hover,
.page-header .page-header-menu .hor-menu .navbar-nav>li.current>a, .page-header .page-header-menu .hor-menu .navbar-nav>li>a:hover{border-color:#141c2c;}
.page-header .page-header-menu .hor-menu .navbar-nav>li.current>a, .page-header .page-header-menu .hor-menu .navbar-nav>li>a:hover{padding-bottom:10px;border-bottom-width:4px;}
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav>li.open>a, .page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav>li:hover>a{background-color:transparent!important;color:#fff!important;}
.page-header .page-header-menu .hor-menu .navbar-nav>li>a{padding-bottom:14px;color:#fff;}

/* .page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav>li.open>a, .page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav>li:hover>a{color:#fff!important;background:transparent!important;} */
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav>li:hover>a{color:#fff!important;background:transparent!important;}

.alert-info{color:#79a0d0;background-color:#f0f7ff;border-color:#f0f7ff;}
.alert-info a{color:#79a0d0;}

.todo-tasklist-item{background-color:#f7f7f7;}
div .todo-tasklist-item:hover{background-color:#f3f3f3;}
.item-border-green{border-color:#4adee0;}

.page-prefooter{background-color:#283143;color:#999;}
.page-prefooter h2{color:#7c85b5;}
.page-prefooter a{color:#fff;}
.page-footer{background-color:#141c2c;color:#999;}
.social-icons li>a{border-radius:14px!important;}

.tabbable-line>.nav-tabs>li.active{border-color:#141c2c;}
.tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover{border-color:#141c2c;}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{background-color:#5f699d;border-color:#5f699d;}

.table-hover>tbody>tr:hover, .table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active{background-color:#f7f7f7;}

.dashboard-stat2 .display .icon{display:none;}

.fade-in-up.ng-scope .row>div:nth-of-type(1) .display .number>small{color:#00c097;}
.fade-in-up.ng-scope .row>div:nth-of-type(2) .display .number>small{color:#278dff;}
.fade-in-up.ng-scope .row>div:nth-of-type(3) .display .number>small{color:#85afff;}
.fade-in-up.ng-scope .row>div:nth-of-type(4) .display .number>small{color:#a375ff;}
.dashboard-stat2 .display .number h3, .dashboard-stat2 .display .number h3>small{font-size:48px;font-weight:300;}
.fade-in-up.ng-scope .row .col-lg-3.col-md-3.col-sm-6.col-xs-12 .dashboard-stat2, .fade-in-up.ng-scope .row .dashboard-stat2{padding:0;}
.fade-in-up.ng-scope .ng-scope>.row{margin:0;}
.fade-in-up.ng-scope .ng-scope>.row .col-lg-3.col-md-3.col-sm-6.col-xs-12{padding:0;}
.fade-in-up.ng-scope .row .display .number>small{font-size:12px;letter-spacing:0;font-weight:700;}
.dashboard-stat2 .display{margin-bottom:0;text-align:center;}
.dashboard-stat2 .display .number{letter-spacing:-1px;float:none;}



.font_gray_e{color:#878eaf!important;}
.font_black_e{color:#141c2c!important;}

.page-spinner-bar{margin-top:-84px;margin-left:-98px;top:50%;left:50%;}


@media (max-width: 991px){
    .page-header .page-header-menu .hor-menu .navbar-nav>li.active>a{background:#f7f7f7!important;color:inherit!important;}
    .page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav>li:hover>a{color:#333!important;}

    .page-header .page-header-top .page-logo{margin-top:0;}
    img.logo-default{width:170px;}
    .btn.menu-toggler.btn-sm.btn-outline{margin-top:16px;}
    .page-header .page-header-top .top-menu{margin:6px 0;}
    .fade-in-up.ng-scope .col-lg-3.col-md-3.col-sm-6.col-xs-12{width:25%;}
		.btn:not(.btn-sm):not(.btn-lg){color:#000;}
}
@media (max-width: 768px){
    .dashboard-stat2 .display .number{float:none;}
    .dashboard-stat2 .display .number h3, .dashboard-stat2 .display .number h3>small{font-size:32px;}
}
@media (max-width: 480px){
    .fade-in-up.ng-scope .col-lg-3.col-md-3.col-sm-6.col-xs-12{width:50%;}
	.page-header .page-header-top .top-menu{background-color:transparent!important;}
	.page-header .page-header-menu>.container{padding-bottom:10px;}
	.page-header .page-header-top .top-menu .navbar-nav,
	.search-form, .page-header .page-header-top .top-menu .navbar-nav>li.dropdown,
	.page-header .search-form .input-group .form-control{width:100%;}
	.search-form.open{width:100%!important;}
	.dashboard-stat2 {margin-bottom:0;}
    .dashboard-stat2 .display .number h3, .dashboard-stat2 .display .number h3>small{font-size:28px;}
    .dashboard-stat2 .display .number small{font-size:13px;}
    .fade-in-up.ng-scope .ng-scope>.row .col-lg-3.col-md-3.col-sm-6.col-xs-12:nth-of-type(n+3){margin-top:12px;}
}
@media (max-width: 360px){
	.dashboard-stat2 {padding:10px 0;}
}
@media (max-width: 320px){
    .dashboard-stat2 .display .number h3, .dashboard-stat2 .display .number h3>small{font-size:22px;}
	.dashboard-stat2 .display .number small{font-size:11px;}
}