<!-- BEGIN HEADER TOP -->
<div class="page-header-top">
    <div class="container">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
	<p><a href="hydnora.org"><img src="images/logo.png" width="180" 
   height="60" alt="Hydnora coin"></a></p>
       
    </div>
    <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler btn btn-sm green-haze btn-outline">MENU</a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <form name="form.searchForm" class="search-form">
                        <div class="input-group">
                            <input type="text" name="explorerSearch" class="form-control" placeholder="Search by Address / Txhash / BlockNum / BlockHash" ng-model="form.searchInput" ng-keyup="$event.keyCode == 13 ? searchQuery(form.searchInput) : null">
                            <span class="input-group-btn">
                                <a class="btn" ng-click="searchQuery(form.searchInput)">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </span>
                        </div>
                    </form>
                </li>


            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
</div>
<!-- END HEADER TOP -->
<!-- BEGIN HEADER MENU -->
<div class="page-header-menu">
    <div class="container">

        <!-- BEGIN MEGA MENU -->
        <div class="hor-menu hor-menu-light">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/accounts">Accounts</a>
                </li>
                <li class="menu-dropdown classic-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;"> Explorers
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                       
                        <li>
                          <a href="http://explorer.hydnora.org" target="_blank">
                                <i class="icon-pin"></i> Hydnora explorer </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-dropdown classic-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;"> Chart
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                        <li>
                            <a href="/stats/hashrate">
                                <i class="fa fa-line-chart"></i> HashRate Growth </a>
                        </li>
                        <li>
                            <a href="/stats/miner_hashrate">
                                <i class="fa fa-line-chart"></i> Miner Distribution </a>
                        </li>
                        <li>
                            <a href="/stats/difficulty">
                                <i class="fa fa-line-chart"></i> Difficulty Chart </a>
                        </li>
                        <li>
                            <a href="/stats/blocktime">
                                <i class="fa fa-line-chart"></i> Blocktime Chart </a>
                        </li>
                        <li>
                            <a href="/stats/The_bomb_chart">
                                <i class="fa fa-line-chart"></i> The bomb chart </a>
                        </li>
                        <li>
                            <a href="/stats/supply">
                                <i class="fa fa-line-chart"></i> Total Supply chart </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-dropdown classic-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;"> Mining
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                        <li>
                          <a href="https://80.211.109.42:8000" target="_blank">
                                <i class="icon-pin"></i> HYDNORA Pool oficcial </a>
                        </li>
                        
                        <li>
                          <a href="https://wheretomine.io/coins/" target="_blank">
                                <i class="icon-pin"></i> WhereToMine </a>
                        </li>
                        <li>
                          <a href="https://mining.alekseirubin.com/calculator/" target="_blank">
                                <i class="icon-pin"></i> Rubin Mining </a>
                        </li>
                        <li>
                          <a href="https://www.coincalculators.io" target="_blank">
                                <i class="icon-pin"></i> Coin Calculators </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-dropdown classic-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;"> Marketcap
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                        <li>
                          <a href="https://coinmarketcap.com/" target="_blank">
                                <i class="icon-pin"></i> CoinMarketCap </a>
                        </li>
                       
                        <li>
                          <a href="https://www.coingecko.com/en/" target="_blank">
                                <i class="icon-pin"></i> CoinGecKo </a>
                        </li>
                        
                        
                    </ul>
                </li>
                <li class="menu-dropdown classic-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;"> Wallet
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                        <li>
                          <a href="https://github.com/hydnora/mist/releases" target="_blank">
                                <i class="icon-pin"></i> Hydnora win/linux/mac wallet </a>
                        </li>
                       
                        <li>
                          <a href="https://www.myetherwallet.com" target="_blank">
                                <i class="icon-pin"></i> MyEtherWallet </a>
                        </li>
                        
                        <li>
                          <a href="https://hydnora.org/wallet" target="_blank">
                                <i class="icon-pin"></i> HydnoraWallet </a>
                        </li>
                        <li>
                          <a href="https://t.me/hydnoracoin" target="_blank">
                                <i class="icon-pin"></i> Telegram Wallet </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-dropdown classic-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;"> Community
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                        <li>
                          <a href="https://discord.gg/Bks8XVd" target="_blank">
                              <i class="fa fa-group"></i>
                              <span class="title" data-toggle="tooltip" title=" Discord"> Discord </span>
                          </a>
                        </li>
                        <li>
                          <a href="https://#" target="_blank">
                              <i class="fa fa-group"></i>
                              <span class="title" data-toggle="tooltip" title=" Reddit"> Reddit </span>
                          </a>
                        </li>
                        <hr>
                        
                    </ul>
                </li>
                <!-- <li class="menu-dropdown mega-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="/token" class="dropdown-toggle"> Tokens
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu" style="min-width: 410px">
                        <li>
                            <div class="mega-menu-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="mega-menu-submenu">
                                            <li>
                                                <a href="/token/0x83c07b8ec37d7224f2d3134ef0cef5f62ca0b1b8" class="iconify">
                                                    <i class="icon-pin"></i> HORA</a>
                                            </li>
                                            <li>
                                                <a href="/dao" class="iconify">
                                                    <i class="icon-trash"></i> HORA contract</a>
                                            </li>
                                            <li>
                                                <a href="/token" class="iconify">
                                                    <i class="icon-puzzle"></i> View All Tokens </a>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="mega-menu-submenu">
                                            <li>
                                                <a href="/" class="iconify">
                                                    <i class="icon-paper-clip"></i> View Contracts (N/A)</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li> -->
                <!-- <li class="menu-dropdown mega-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="dropdown-toggle"> Stats
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="mega-menu-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="mega-menu-submenu">
                                            <li>
                                                <a href="/stats/hashrate">
                                                    <i class="fa fa-line-chart"></i> HashRate Growth Chart </a>
                                            </li>
                                            <li>
                                                <a href="/stats/miner_hashrate">
                                                    <i class="fa fa-line-chart"></i> Miner Distribution Chart</a>
                                            </li>
                                            <li>
                                                <a href="/stats/difficulty">
                                                    <i class="fa fa-line-chart"></i> Difficulty Chart</a>
                                            </li>
                                            <li>
                                                <a href="/stats/blocktime">
                                                    <i class="fa fa-line-chart"></i> Blocktime Chart</a>
                                            </li>
                                            <li>
                                                <a href="/stats/tx">
                                                    <i class="fa fa-line-chart"></i> Transaction Chart</a>
                                            </li>
                                            <li>
                                                <a href="/stats/supply">
                                                    <i class="fa fa-line-chart"></i> Total Supply</a>
                                            </li>
                                            <li>
                                                <a href="/stats/The_bomb_chart">
                                                    <i class="fa fa-line-chart"></i> The bomb chart</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li> -->
                <!-- <li class="menu-dropdown classic-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;"> Misc
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                        <li>
                            <a href="/">
                                <i class="icon-check"></i> Verify Contract (N/A)</a>
                        </li>
                        <li>
                            <a href="/">
                                <i class="icon-refresh"></i>
                                <span class="title">Broadcast TXN (N/A)</span>
                            </a>
                        </li>
                    </ul>
                </li> -->
                <!-- <li class="menu-dropdown classic-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;"> Community
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                       
                        
                        <li>
                            <a href=" http://hydnora.org/wallet/ " target="_blank">
                                <i class="fa fa-folder-open"></i>
                                <span class="title" data-toggle="tooltip" title="Client Hydnora Wallet"> Hydnora web wallet</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://#" target="_blank">
                                <i class="fa fa-bar-chart"></i>
                                <span class="title" data-toggle="tooltip" title="Mainnet Stats"> Live Network Stats </span>
                            </a>
                        </li>
                       
                      

                    </ul>
                </li> -->
            </ul>
        </div>
        <!-- END MEGA MENU -->
    </div>
</div>
<!-- END HEADER INNER -->
